[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  # These keys are safe to be exposed to the browser as they are public keys
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_SUPABASE_URL,NEXT_PUBLIC_SUPABASE_ANON_KEY"
